
<!-- Additional Social Media Meta Tags -->
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="{% if page.twitter.card %}{{ page.twitter.card }}{% else %}summary_large_image{% endif %}">
<meta name="twitter:site" content="@{{ site.twitter.username }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta name="twitter:image" content="{{ site.url }}{{ site.logo }}">
{% endif %}

<!-- Additional Tags -->
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:creator" content="@{{ site.twitter.username }}">
