<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.3.0/firebase-app.js"
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/12.3.0/firebase-analytics.js"

  const firebaseConfig = {
    apiKey: "AIzaSyAp5tT8PyWr71OnZgWFVuthalhTyWyffm4",
    authDomain: "goat-fuel-27636.firebaseapp.com",
    projectId: "goat-fuel-27636",
    storageBucket: "goat-fuel-27636.firebasestorage.app",
    messagingSenderId: "490688059993",
    appId: "1:490688059993:web:4e3f1bce8157483712af48",
    measurementId: "G-WT51XSQYWR"
  }

  // Initialize Firebase
  const app = initializeApp(firebaseConfig)
  const analytics = getAnalytics(app)
</script>